body {
    background-image: url("../images/MarvelIndividuals.jpg");
}

.jumbotron, h1 {
    background-color: red;
    color: whitesmoke;
    font-size: 300px;
    text-align: center;
    font-family: benton sans;
}
.container .character-select {
    background-color: navy;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    border-style: ridge;
    border-width: 4px;
    border-radius: 5rem;
 }   

 .container .movie-info {
     background-color: yellow;
     color: black;
     padding-top: 50px;
     padding-bottom: 50px;
     font-size: 25px;
     border-style: ridge;
     border-width: 4px;
     border-radius: 5rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 }




.reviews .character-select {
    background-color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
 }   
 .reviews .movie-info {
    background-color: rgb(132, 0, 255);
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
}

 .container .search-results {
     background-color: green;
     color: black;
     padding-top: 50px;
     padding-bottom: 50px;
     font-size: 25px;
     border-style: ridge;
     border-width: 4px;
     border-radius: 5rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 @media (max-width: @screen-xs-max) { .container }

 @media (min-width: @screen-sm-min) { .container }

 @media (min-width: @screen-md-min) { .container }

 @media (min-width: @screen-lg-min) { .container }
 

 
 

